* {
  margin: 0;
  padding: 0;
}
body {
  background: #cfdfff;
}
#title {
  margin: 20px 0 30px 0;
  font-family: "Fredoka One", cursive;
  font-size: 3rem;
  color: rgb(42, 14, 65);
}
#container {
  padding: 20px;
  margin: auto;
  text-align: center;
  font-family: "Fredoka One", cursive;
}
#display {
  display: flex;
  justify-content: space-evenly;
}
#display-text {
  display: flex;
  justify-content: space-evenly;
}
#human-selection,
#computer-selection {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 2px solid gray;
  border-radius: 50%;
}
#weapons {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0 20px 0;
}
#weapons > div:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.rock {
  width: 100px;
  height: 100px;
  background-image: url(./Images/Rock.png);
  background-size: cover;
  background-position: center;
}
.paper {
  width: 100px;
  height: 100px;
  background-image: url(./Images/Paper.png);
  background-size: cover;
  background-position: center;
}
.scissors {
  width: 100px;
  height: 100px;
  background-image: url(./Images/Scissors.png);
  background-size: cover;
  background-position: center;
}
#instruction {
  margin-top: 30px;
  font-size: 1.5rem;
}
#button-container {
  display: flex;
  justify-content: center;
  border: 4px solid white;
  border-radius: 2px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 2px 2px rgb(128, 127, 127);
}
#restart {
  width: 150px;
  height: 50px;
  padding: 10px;
  border: 1.7px solid black;
  font-family: "Fredoka One", cursive;
  border-radius: 2px;
  font-size: 16px;
  color: black;
  background-color: rgb(245, 150, 150);
  cursor: pointer;
}
#button-container:hover {
  scale: 1.1;
}
.hidden {
  display: none;
}
